



body{
    background:#4F4F4F  	;
    color: white;
    font-family:'Courier New', Courier, monospace;
}


.color-drop{
    background:;
    
    
}


.etiqueta-alert{
    max-width: 500px;

 
}

.hover-drop:hover{
    background-color:#1E90FF;
}



.footer{
    align-items: center;
    justify-content: center;
    text-align: center;
}