    {%extends 'base.html'%}
 {%block content%}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>inicio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    
    </head>
    <body>

 <br><br>
   <figure class="text-center text-white ">
    <blockquote class="blockquote">
      <p>
        Em meio ao caos dos desafios, a organização é a bússola que nos guia para encontrar soluções eficazes e alcançar nossos objetivos.    
    </p>
    </blockquote>
    <figcaption class="blockquote-footer text-white">
      Autor Desconhecido
    </figcaption>
  </figure>
  <br>
<div class="row m-0 gap-3 d-flex justify-content-center">
  <div class="card bg-dark" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-white">Base Conhecimento</h5>
      <p class="card-text">Acesse para visulizar toda a base de conhecimento cadastrada.</p>
      <a href="/base_conhecimento" class="btn btn-primary position-absolute bottom-0 end-0 m-2">Detalhes</a>
    </div>
  </div>
  <br>
  <div class="card bg-dark" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-white">Inventário</h5>
      <p class="card-text">Acesse para visulizar o invetário</p>
      <a href="/invetario" class="btn btn-primary position-absolute bottom-0 end-0 m-2">Detalhes</a>
    </div>
  </div>
</div>
</div>
    </body>
    </html>

    {%endblock%}