    {%extends 'base.html'%}
 {%block content%}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>inicio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    
    </head>
    <body>
 <br><br>
   <figure class="text-center text-white ">
    <blockquote class="blockquote">
      <p>
        Em meio ao caos dos desafios, a organização é a bússola que nos guia para encontrar soluções eficazes e alcançar nossos objetivos.    
    </p>
    </blockquote>
    <figcaption class="blockquote-footer text-white">
      Autor Desconhecido
    </figcaption>
  </figure>

</div>
    </body>
    </html>

    {%endblock%}