{%extends 'base_inventario.html'%}

{%block content%} 
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário</title>
</head>
<body>
  
<div class="row mb-3  gap-3 m-0 d-flex justify-content-center">
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header card-title"></div>
  <div class="card-body">
    <h5 class="card-title">Quantidade de Ativos Totais</h5>
    <p class="card-text">55 ativos Cadastrados</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3 " style="max-width: 18rem;">
  <div class="card-header card-title"></div>
  <div class="card-body">
    <h5 class="card-title">Ativos Livres</h5>
    <p class="card-text">55 ativos Cadastrados Livres</p>
  </div>
</div>

<div class="card text-white bg-dark mb-3 " style="max-width: 18rem;">
  <div class="card-header card-title"></div>
  <div class="card-body">
    <h5 class="card-title">Ativos por Setor</h5>
    <p class="card-text">55 ativos Cadastrados Livres</p>
  </div>
</div>
</div>


    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"></A></th>
            <th scope="col">ATIVO</th>
            <th scope="col">MARCA</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


</body>
</html>
{%endblock%}